* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-image: url("../imgs/blackjack.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  object-fit: cover;
  color: white;
  box-sizing: border-box;
}
.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
  font-weight: 700;
}

.cartas {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}
#player-cards,
#computer-cards {
  height: 240px;
}
/* .divBtns,
.container {
  z-index: 10;
} */
